* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* header*/
header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(31, 41, 55);
    color: white;
    width: 80vw;
}

.logo {
    font-size: 40px;
}

.header {
    background-color: rgb(31, 41, 55);
    display: flex;
    justify-content: center;
}

header div ul {
    display: flex;
    list-style-type: none;
    padding: 15px;

}

header div ul li {
    padding: 20px;
    font-size: 25px;
    color: #e5e7eb;

}
/* first */
.first {
    padding-top: 40px;
    height: 65vh;
    background-color: rgb(31, 41, 55);
    display: flex;
    align-items: center;
    justify-content: center;

}

.main {
    height: 70%;
    width: 80vw;
    display: flex;
    color: white;

}

.placeHolder {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(109, 116, 125);
    margin: 30px;
    margin-left: 50px;
}

.main-1 {
    flex: 1;
    display: flex;
    padding-right: 40px;

}

.main-1 h1 {
    margin: 10px 0px 10px 0px;
    font-size: 60px;
    font-weight: 900;
}

.main-1 p {
    font-size: 30px;
    color: #e5e7eb;
    padding: 20px 0px 20px 0px;
}

.main-1 button {
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 13px;
}

/* second*/

.second {

    height: 65vh;
    display: flex;
    justify-content: center;
}

.main2 {

    width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.main2-title{
    margin-bottom: 80px;
}
.main2 h1 {
    font-size: 36px;
}

.square-father {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card{
    width: 250px;
    height: 350px
} 
.square {

    height: 250px;
    width: 250px;
    border: 7px solid blue;
    border-radius: 13px;
}
.card p{
margin-top: 10px;
font-size: 25px;
}

/* third */


.third {
    background-color: #e5e7eb;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main3 {
    width: 40vw;

}

.main3 p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

/* fourth*/


.fourth {
    background-color: white;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main4 {
    background-color: #3882F6;
    height: 200px;
    width: 50vw;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;

}

.main4 button {
    padding: 10px 23px 10px 23px;
    font-size: 25px;
    border: 3px solid white;
    background-color: transparent;
    border-radius: 10px;
    color: white;
}


.main4 p {
    padding: 5px 0px 5px 0px;
    font-size: 25px;
}
.main4 h3{
    font-size: 35px;
}

/* fifth */


.fifth {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 41, 55);
}

.main5 p {
    color: white;
    font-size: 25px;
}

.main5 p {
    color: white;
    font-size: 24px;
}